.buttons-duo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 20px;
    
}

pre.data-presentation {
    width: 80%;
    background-color: rgb(202, 202, 202);
    align-self: center;
    margin: 10px 0 30px -20px;
    padding: 20px 20px 20px 40px;
}

.bottom-section {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
}

@media only screen and (max-width: 750px) {
    .data-presentation {
        width: 70%;
    }
}