@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  }

.error {
  position: absolute;
  color: red;
  font-size: 0.7rem;
  margin-top: 2px;
}



.input-error,
.input-error {
  border-color: #fc8181;
}