*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.fields {
    display: flex;
    flex-flow: row wrap;
    margin: 10px 0 20px 15px;
    align-items: center;
}

.label {
    width: 200px;
    
}

.inputs, .selects, .texts{
    width: 300px;
    
}

.checkboxes {
    display: flex;
    flex-flow: column nowrap;
}

.character-counter {
    margin-left: 250px;
}

@media only screen and (max-width: 750px) {
    .fields {
        flex-flow: column nowrap;
        align-items: flex-start;
    }

    .label {
        margin-bottom: 15px;
    }

}