.Form { 
    width: 600px;
    margin: 20px;
    border: 2px gray solid;
    box-shadow: 1px 1px 1px 1px gray;
    border-radius: 1%;
    padding-left: 20px;
}

@media only screen and (max-width: 750px) {
    .Form {
        width: 400px;
        margin: 20px auto;
    }
}